.App{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.app-search{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.app-list{
  margin: 8vh 6vw;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}